<section class="mainSection">
    <div class="container">
        <div class="mainSectionWrapper">
            <h1 class="mainSectionTitle">Конвертер валют</h1>

            <div class="converter">
                <ul class="converterList" >
                    <li class="converterItem"  *ngFor="let getExchangeRatesItem of getExchangeRatesList; let index = index">
                        <div class="converterItem--inputs">
                            <span class="converterItem--inputsTitle">{{getExchangeRatesItem.exchange_rates}}</span>
                            <input
                                class="converterItem--inputsInput"
                                type="tel"
                                [(ngModel)]="getExchangeRatesItem.value"
                                (ngModelChange)="onChangeValue($event, index)"
                            />
                            <button class="converterItem--inputsDeleteElement"></button>
                        </div>
                        <p class="converterItem--title">{{getExchangeRatesItem.currencyCode}}</p>
                    </li>
                </ul>

                <div class="converterSelect" style="display: none;">
                    <div class="converterSelectWrapper">
                        <select
                            class="converterSelect--select form-select"
                            aria-label="Default select example"
                        >
                            <option selected>Добавить валюту</option>

                            <option value="1">
                                <span>BYN</span>
                                Белорусский рубль
                            </option>
                            <option value="2">
                                <span>BYN</span>
                                Белорусский рубль
                            </option>
                            <option value="3">
                                <span>BYN</span>
                                Белорусский рубль
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
