<section class="mainSection">
    <div class="container">
        <div class="mainSectionWrapper">

            <div class="mainConverterWrapper">
                <div class="converter">
                    <h2 class="mainSectionTitle">Конвертер валют</h2>

                    <ul class="converterList">
                        <div class="converterInputValue">
                            <p class="converterInputValue--title">Выберите валюту для конвертации (по умолчанию стоит {{nameExchangeRates}})</p>
                            <select class="converterInputValue--select form-select" [(ngModel)]="selectCurrencyCode" (change)="onChangeSelect($event)">
                                <option *ngFor="let code of CurrencyCods" [value]="code[0]">
                                    <strong>{{code[0]}}</strong>
                                    <span> {{code[1]}}</span>
                                </option>
                            </select>

                            <input class="converterItem--inputsInput" type="tel" [(ngModel)]="valueCurrencyCode" (ngModelChange)=" onChangeExchangeRatesValue($event)">
                        </div>

                        <li
                            class="converterItem"
                            *ngFor="
                                let getExchangeRatesItem of getExchangeRatesList;
                                let index = index
                            "
                        >
                            <div class="converterItem--inputs">
                                <span class="converterItem--inputsTitle">{{
                                    getExchangeRatesItem.exchange_rates
                                }}</span>
                                <input
                                    class="converterItem--inputsInput"
                                    type="tel"
                                    [(ngModel)]="getExchangeRatesItem.value"
                                />
                                <button
                                    class="converterItem--inputsDeleteElement"
                                ></button>
                            </div>
                            <p class="converterItem--title">
                                {{ getExchangeRatesItem.currencyCode }}
                            </p>
                        </li>
                    </ul>

                    <div class="converterSelect" style="display: none">
                        <div class="converterSelectWrapper">
                            <select
                                class="converterSelect--select form-select"
                                aria-label="Default select example"
                            >
                                <option selected>Добавить валюту</option>

                                <option value="1">
                                    <span>BYN</span>
                                    Белорусский рубль
                                </option>
                                <option value="2">
                                    <span>BYN</span>
                                    Белорусский рубль
                                </option>
                                <option value="3">
                                    <span>BYN</span>
                                    Белорусский рубль
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="converterDistance">
                    <h2 class="mainSectionTitle">Конвертер расстояния</h2>

                    <ul class="converterDistanceList">
                        <li
                            class="converterDistanceItem"
                            *ngFor="
                                let getDistanceitem of getDistanceList;
                                let index = index
                            "
                        >
                            <div class="converterDistanceItem--inputs">
                                <span
                                    class="converterDistanceItem--inputsTitle"
                                    >{{ getDistanceitem.code }}</span
                                >
                                <input
                                    class="converterDistanceItem--inputsInput"
                                    type="tel"
                                    [(ngModel)]="
                                        getDistanceitem.nameDistance.value
                                    "
                                    (ngModelChange)="
                                        onChangeDistanceValue($event, index)
                                    "
                                />
                            </div>
                            <p class="converterDistanceItem--title">
                                {{ getDistanceitem.nameDistance.name }}
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
